*{
    margin: 0;
    padding: 0;
}
.back-white{
    background-color: white;
}
body{
    background-color: #F1F2F6;
}
hr{
    border: none;
    height: 1.8px;
    background: #dddddd;
}
div{
    border: 0.5px solid red;
}

header{
    height: 100px;
    width: 100%;
    position: initial;
    margin-bottom: 10px;
}
.headerBox{
    height: 100%;
}

.upperHalfInNav, .lowerHalfInNav{
    height: 50%;
    background-color: white;
    display: flex;
}
.lowerHalfInNav{
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

.lowerHalfItems, .upperHalfItems{
    display: flex;
}

.upperHalfItems{
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80%; 
    /* border: 2px solid blue; */
}
.firDivUpperHalf, .secDivUpperHalf, #headerMainLogo{
    width: 20%;
    display: flex;
    gap: 10%;
}
.btn-icons{
    flex-basis: 8%;
    border: none;
    background-color: white;
}
.smallIcons{
    max-width: 100%;
    cursor: pointer;
}
#headerMainLogo{
    height: 50%;
    align-self: center;
    cursor: pointer;
}

.secDivUpperHalf{
    justify-content: end;
}

.lowerHalfItems{
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: #534848;
    font-size: 100%;
    align-items: center;
}

#saleRedirector{
    color: red;
}

.pagesRedirector:hover{
    color: green;
    cursor: pointer;
    display: visible;
}

.dropdown-holder{
   display: block;
}

.dropdownContent{
    display: block;
    background-color: #c2c2c2;
    display: visible;
}

.main-cont{
    width: 80%;
    height: 500vh;
    margin: auto;
}

.firstDiv{
    height: 1.2%;
    display: flex;
    justify-content: space-around;
}
.firstDiv button{
    flex-grow: 30%;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.firstDiv > button:nth-child(1)
